*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Estilos generales*/

.Form-Register{
    display: flex;
    flex-direction: row;
}

/*Estilos de posicion del formulario*/

form{
    display: flex;
    background-color: white;
    flex-direction: column;
    gap: 5px;
    margin-top: 50px;
    width: 650px;
    height: 520px;
}

.title{
 position: absolute; 
 z-index: 1;
 left: 18%;
 color: white;
}

.theme{
    width: 630px;
    height: 50px;
    position: absolute;
    background-color: rgb(175, 47, 0);
}




/* Estilos de las etiquetas y los inputs */

.form-group {
    margin-top: 50px;
    padding-left: 5px;
    padding-bottom: 5px;
    height: 30px;
    display: flex;
    flex-direction: row;
    width: max-content;
}

.form-group input{
    background: none;
    color: black;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 350px;
    margin-left: 134px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group input:focus + .form-group label,
.form-group input:not(:placeholder-shown) + label
{
    transform: translateY(-15px) scale(.7);
    transform-origin: left top;
}

.form-group label{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    position: absolute;
    left: 135px;
    transform: translateY(-16px);
    transition: transform .5s, color .3s;
}

/*estilo del input date*/

.form-group-date {
    margin-top: 50px;
    padding-left: 5px;
    padding-bottom: 5px;
    height: 30px;
    display: flex;
    flex-direction: row;
    width: max-content;
}

.form-group-date input{
    background: none;
    color: black;
    font-size: 1rem;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 350px;
    margin-left: 134px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-group-date label{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    position: absolute;
    left: 135px;
    transform: translateY(-20px);
    transition: transform .5s, color .3s;
}





/*Estilo de los botones*/

.form-group-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 60px;
    place-content: center;
    margin-bottom: 20px;
}

.form-group-button button{
   width: 160px;
   border: none;
   border-radius: 10px;
   font-size: 1.3rem;
   background-color: rgb(175, 47, 0);
   color: white;
   height: 50px;
   cursor: pointer;
   margin-right: 15px ;
   border-bottom: 1px solid rgba(255, 255, 255, 0.521);
}

.form-group-button button:hover{
    transform: scale(1.05);
}
/*estilos de la imagen*/
img{
    height: 100vh;
    width: 50%;
}